@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "ПАНЕЛЬ АДМИНИСТРАТОРА";
}

<div>
    <h1 class="text-center">Список пользователей</h1>
    <p clas="text-center">
        <a asp-action="Register" asp-controller="Account">Добавить пользователя</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Эл. почта
                </th>
                <th>
                    Логин
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Фамилия
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "DeleteUser", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
