@model List<School.Models.DtoModels.TimetableDto>
@inject SignInManager<AppUser> signInManager;

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Расписание занятий на неделю</h1>
@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}



@if (Model is null)
{
    <div>
        <form method="post" action="/Timetable/GetTimetableByGrade">
            <div class="form-group">
                <label class="control-label">Выберите класс</label>
                @Html.DropDownList("id", ViewBag.Grades as SelectList)
            </div>
            <div class="form-group">
                <input type="submit" value="Показать расписание" class="btn btn-primary" />
            </div>
        </form>
    </div>
}
else
{
    <div class="container">
        <div class="timetable-img text-center">
            <img src="img/content/timetable.png" alt="">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">Time</th>
                        <th class="text-uppercase">Monday</th>
                        <th class="text-uppercase">Tuesday</th>
                        <th class="text-uppercase">Wednesday</th>
                        <th class="text-uppercase">Thursday</th>
                        <th class="text-uppercase">Friday</th>
                        <th class="text-uppercase">Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">09:00am</td>
                        <td> <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-black font-size16 xs-font-size13">
                              @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber ==
                                1) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber ==
                                1).DisciplineName;
                                }
                            </span>
                        </td>
                        <td>
                            <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if(Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 1) is null)
                                {

                                }
                                else
                                {
                                    @Model.First(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 1).DisciplineName
                                }
                            </span>
                        </td>
                        <td> 
                            <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 1) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 1).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 1) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 1).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span   class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber == 1) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber ==  1).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span  class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber == 1) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber == 1).DisciplineName;
                                }
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">10:00am</td>
                        <td>
                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-black font-size16 xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber == 2) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber == 2).DisciplineName;
                                }
                            </span>
                        </td>
                        <td>
                            <span  class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                               @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 2) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 2).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 2) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 2).DisciplineName;
                                }
                               </span>
                        </td>
                        <td>
                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                               @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 2) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 2).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span  class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber == 2) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber == 2).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber == 2) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber == 2).DisciplineName;
                                }
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">11:00am</td>
                        <td>
                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-black font-size16 xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber == 3) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber == 3).DisciplineName;
                                }
                                </span>
                        </td>
                        <td>
                            <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                 @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 3) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 3).DisciplineName;
                                }
                            </span>

                        </td>
                        <td> 
                            <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 3) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 3).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                 @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 3) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 3).DisciplineName;
                                }
                            </span>
                        </td>
                        <td>
                            <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                 @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber == 3) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber == 3).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                 @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber == 3) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber == 3).DisciplineName;
                                }
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">12:00pm</td>
                        <td>
                            <span  class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-black font-size16 xs-font-size13">
                                 @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber == 4) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber == 4).DisciplineName;
                                }
                            </span>
                        </td>
                        <td>
                            <span  class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 4) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 4).DisciplineName;
                                }
                            </span>

                        </td>
                        <td> 
                            <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 4) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 4).DisciplineName;
                                }
                            </span>
                        </td>
                        <td>
                             <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                 @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 4) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 4).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber == 4) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber == 4).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom  font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber == 4) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber == 4).DisciplineName;
                                }
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">01:00pm</td>
                        <td>
                            <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-black font-size16 xs-font-size13">
                                 @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber == 5) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Monday && p.LessonNumber == 5).DisciplineName;
                                }
                            </span>
                        </td>
                        <td>
                            <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 5) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Tuesday && p.LessonNumber == 5).DisciplineName;
                                } 
                            </span>

                        </td>
                        <td> 
                            <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom   font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 5) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Wednesday && p.LessonNumber == 5).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span   class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom  font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 5) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Thursday && p.LessonNumber == 5).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom  font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber == 5) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Friday && p.LessonNumber == 5).DisciplineName;
                                }
                            </span>
                        </td>
                        <td> 
                            <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom  font-size16  xs-font-size13">
                                @if (Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber == 5) is null)
                                {
                                    
                                }
                                else
                                {
                                    @Model.FirstOrDefault(p => p.DayOfWeek == DayOfWeek.Saturday && p.LessonNumber ==  5).DisciplineName;
                                }
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}
